
<div class="container">
  <div class="row">
    <!-- list de produits -->
    <div class="col-md-6">
      <h1 class="text-center mb-4">Produits</h1>
      <!--importer le composant -->
      <app-product-list></app-product-list>
    </div>

    <!-- panier -->
    <div class="col-md-6">
      <h1 class="text-center mb-4">Panier</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Varieties</th>
            <th>prixHT</th>
            <th>Quantite</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartService.items" class="align-middle">
            <td>{{ item.nom }}</td>
            <td class="text-muted">{{ item.prixHT }}</td>
            <td>{{ item.quantite }}</td>
            <td class="text-center">
              <button class="btn btn-danger" (click)="cartService.delete(item)">x</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="text-center mt-4">
        <h3>Total HT: {{ cartService.getTotal()|number: '1.2-2' }}</h3>
        <h1>Total TTC: {{ cartService.getTotalTTC()|number: '1.2-2'}}</h1>
        <button class="btn btn-primary" >Valider le panier</button>
      </div>
    </div>
  </div>
</div>

